html,body{
    background-image: url('../pattern.avif');
    background-size: cover;
    height: 100%;
    position: relative;
    margin: 0;
}
header{
    width: 100%;
    height: 3rem;
    background-color: rgb(255, 252, 224);
    margin: 0;
    position: relative;
}

#content{
    height: 100%;
    width: 65%;
    left: 15rem;
    margin-top: 5rem;
    background-color: rgb(255, 252, 224);
    position: relative;
    border-radius: 50px;
}
footer{
    width: 100%;
    height: 3rem;
    background-color: rgb(255, 252, 224); 
    position: relative;
    margin-top: 2rem;

}
button{
    padding: 0.7rem 2rem;
    background-color: white;
    position: relative;
    left: 35rem;
    border-radius: 10px;
    margin-top: 10px;
    border-bottom: 0;
    display: flex-inline;
    justify-content: space-between;
    gap: 10px;
    

}